@{
    ViewData["Title"] = "Hub Page";
}

<div>
Send message to all chat online user.
<form href="" action="/Hub/SendMsgToAll" method="post">
    <input type="text" name="name"/>
    <input type="text" name="msg"/>
    <button type="submit">Send</button>
</form>
</div>